*
{
    overflow-x: hidden;
}

#input
        {
            border: none;
            background-color: whitesmoke;
            height: 30px;
            width: 300px;
        }


.mainb
{  
    
    justify-content: center;
    align-items: center;
    padding:1%;
    background-color: greenyellow;
    align-content: center;
   text-align: center;

}

.searchb
{
    height: 30px;
    width: 100px;
    border: none;
    padding: 2px 10px;
    color: aliceblue;
    background-color: green;
    box-shadow: 5px 4px 5px whitesmoke;

}



.searchb:hover
{
    height: 30px;
    width: 100px;
    border: none;
    padding: 2px 10px;
    color: rgb(188, 243, 188);
    background-color: rgb(98, 151, 63);
    box-shadow: 5px 4px 5px rgb(135, 142, 35);
    
}

.searchb:active
{
    height: 30px;
    width: 100px;
    border: none;
    padding: 2px 10px;
    color: green;
    background-color: white;
    box-shadow: 3px 2px 3px olivedrab;
    font-weight: bold;

    
}

.card
{
    border: 1px solid green;
    padding: 2%;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
  

}

#loadarea
{   
    border: 1px solid green;
    margin: 1% 0%;
    display: inline-flex;
    flex-wrap:wrap;
   justify-content: center;
   align-items: center;

 
  
  
 
}
p
{
    text-align: center;
}

.hnaam
{
    background-color: green;
    color: antiquewhite;
}
.avatar
{
    border-radius: 10px;
    border: 1px dotted green;
}

footer
{
    text-align: center;
    position:static;
}

h3
{
    text-align: center;
}
ul
{
    text-align: center;
}
li
{
    margin-top: 2%;
    padding: 2%;
    height: auto;
   width: 80%;
    border-radius: 5px;
    border: 1px dashed green;
}